<ion-content>
  <!-- <canvas id="donutCanvas"></canvas> -->
    <!-- <ion-col size="6">
      <div class="flex justify-start" >
        <p style="font-size: 11px;"><ion-icon style="color: rgb(255, 99, 132); font-size: 9px;"  name="square"></ion-icon>  Pending</p>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="flex justify-start">
        <p style="font-size: 11px;">
        <ion-icon style="color: rgb(255, 205, 86); font-size: 9px;" name="square"></ion-icon>  Overdue

        </p>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class="flex justify-start">
     <p  style="font-size: 11px;"> <ion-icon style="color: rgb(54, 162, 235); font-size: 9px;" name="square"></ion-icon>  Complete</p>
      </div>
    </ion-col> -->
    

    <!-- <ion-col size="12">
     
    </ion-col> -->
    

  <canvas id="donutCanvas" width="100px" height="100px"></canvas>
</ion-content>
