ion-chip {
    --background: #ff5122;
    --color: #ffffff;
  }
  ion-segment-button {
    --indicator-color: #1e6ff7;
  }
  
  /* Material Design styles */
  ion-segment-button.md {
    --color: #000;
    --color-checked: #1e6ff7;
    --indicator-height: 4px;
  }
  
  /* iOS styles */
  ion-segment-button.ios {
    --color: #1e6ff7;
    --color-checked: #fff;
    --border-radius: 20px;
  }
  .palette {
    height: 100px;
    width: 100px;
    position: relative;
    overflow: hidden;
  }
  .palette > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // border: 10px solid var(--c, red);
    border-radius: 50%;
    clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 33.745%);
  }
  .color1 {
    transform: rotate(72deg);
    --c: blue;
  }
  .color2 {
    transform: rotate(144deg);
    --c: orange;
  }
  .color3 {
    transform: rotate(-72deg);
    --c: green;
  }
  .color4 {
    transform: rotate(-144deg);
    --c: purple;
  }
  


  .chart-area {
    width: 80%;
    height: 80%;
    margin-top: 16px;
  }
  .wrapper{
    text-align: center;
    padding: 10px;
  }

  // canvas#gaugeChart {
  //   width: 200px; /* Adjust the width as needed */
  //   height: 1%; /* Adjust the height as needed */
  // }


  // avrage tat

  code { display:inline-block; max-width:600px;  padding:80px 0 0; line-height:1.5; font-family:monospace; color:#ccc }

.sc-gauge  { width:100%; height:180px; margin:60px auto; padding-top: 20px; }
.sc-background { position:relative; height:100px; margin-bottom:10px; background-color:#fff; border-radius:150px 150px 0 0; overflow:hidden; text-align:center; }
.sc-mask { position:absolute; top:20px; right:20px; left:20px; height:80px; background-color:#ffffff; border-radius:150px 150px 0 0 }
.sc-percentage { position:absolute; top:100px; left:-200%; width:400%; height:400%; margin-left:100px; background-color:#ea6900; }
.sc-percentage { transform:rotate(158deg); transform-origin:top center; }
.sc-min { float:left; }
.sc-max { float:right; }
.sc-value { position:absolute; top:50%; left:0; width:100%;  font-size:48px; font-weight:700 }

