/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.toast-scheme {
    // .toast-message {
    //     --background: rgb(25, 3, 3) !important ;
    //     color: red!important ;
    // }
    // .toast-container {
    //     --background: rgb(4, 201, 255) !important ;
    //     color: red!important ;
  
    // }
    // .toast-md {
    //     --background: rgb(114, 250, 135) !important ;
    //     color: red!important ;
  
    // }
    --background: rgb(0, 121, 201)  !important ;
    color: rgb(255, 255, 255)!important ;
  
    // .ion-toast{
    //     --background: rgb(222, 63, 63) !important ;
    //     color: red!important ;
    // }
  }
  ion-content{
    background-image: linear-gradient(197deg, rgb(188, 210, 224) 0%, rgb(188, 210, 224) 13.5%, rgb(188, 210, 224) 33.33%, rgb(188, 210, 224) 100%) !important
  }